
*.bak
*.log

/code/GameFrameworkInjector/Cap1/.idea
/code/GameFrameworkInjector/Cap1/Library
/code/GameFrameworkInjector/Cap1/Temp
/code/GameFrameworkInjector/Cap1/obj
/code/GameFrameworkInjector/Cap1/UserSettings

code/GameFrameworkInjector/Cap1/UnityGameFramework.Editor.csproj
code/GameFrameworkInjector/Cap1/UnityGameFramework.Runtime.csproj
code/GameFrameworkInjector/Cap1/Assembly-CSharp-Editor.csproj
code/GameFrameworkInjector/Cap1/Assembly-CSharp.csproj
code/GameFrameworkInjector/Cap1/.idea/.idea.Cap1/.idea/workspace.xml
code/GameFrameworkInjector/Cap1/.idea/.idea.Cap1/.idea/workspace.xml
code/GameFrameworkInjector/.idea/workspace.xml
code/GameFrameworkInjector/Cap1/UserSettings/Layouts/default-2021.dwlt
code/GameFrameworkInjector/Cap1/.idea/.idea.Cap1/.idea/contentModel.xml
code/GameFrameworkInjector/Cap1/.idea/.idea.Cap1/.idea/indexLayout.xml
code/GameFrameworkInjector/Cap1/.idea/.idea.Cap1/.idea/workspace.xml
code/GameFrameworkInjector/Cap1/Assembly-CSharp-Editor.csproj
code/GameFrameworkInjector/Cap1/Assembly-CSharp.csproj
code/GameFrameworkInjector/Cap1/UserSettings/EditorUserSettings.asset
code/GameFrameworkInjector/Cap1/UnityGameFramework.Runtime.csproj
code/GameFrameworkInjector/Cap1/UnityGameFramework.Editor.csproj
code/GameFrameworkInjector/Cap1/Assembly-CSharp.csproj
code/GameFrameworkInjector/Cap1/Assembly-CSharp-Editor.csproj
code/GameFrameworkInjector/Cap1/.idea/.idea.Cap1/.idea/workspace.xml
code/GameFrameworkInjector/Cap1/.idea/.idea.Cap1/.idea/contentModel.xml
code/GameFrameworkInjector/Cap1/UserSettings/EditorUserSettings.asset
code/GameFrameworkInjector/Cap1/UnityGameFramework.Runtime.csproj
code/GameFrameworkInjector/Cap1/UnityGameFramework.Editor.csproj
